defaults:
  - prompts  # Import prompt templates

# ====== Data Module ======
data:
  _target_: il_lib.datas.BehaviorDataModule
  data_path: ${oc.env:DATA_DIR} 
  task_name: 
    - "picking_up_trash"
  batch_size: 2
  val_batch_size: 2
  val_split_ratio: 0.1
  dataloader_num_workers: 4
  max_num_demos: null 
  seed: 42
  dataset_class: omnigibson.learning.datas.BehaviorIterableDataset
  # ====== Dataset ======
  obs_window_size: 3
  ctx_len: 16
  downsample_factor: 3 # downsample to 10Hz
  use_task_info: false
  task_info_range: null
  multi_view_cameras: ${robot.multi_view_cameras}
  visual_obs_types: [rgb]
  use_action_chunks: false
  

# ====== Planner Module ======
planner:
  _target_: lara.planner.planner.Planner
  model_class: "transformers.Qwen2VLForConditionalGeneration"
  processor_class: "transformers.AutoProcessor"
  model_name: "Qwen/Qwen2-VL-2B-Instruct"
  device: "cuda"  # or "cpu"
  torch_dtype: "auto"  # auto, bfloat16, float16, float32
  trust_remote_code: true
  prompts: ${subtask_prediction}
