# ====== Data Module ======
data:
  _target_: lara.datas.BehaviorDataModule
  data_path: ${data_dir}
  task_name: 
    - "picking_up_trash"
  batch_size: ${bs}
  val_batch_size: ${vbs}
  val_split_ratio: 0.1
  dataloader_num_workers: 4
  max_num_demos: null 
  seed: 0
  dataset_class: omnigibson.learning.datas.BehaviorIterableDataset
  downsample_factor: 3 # downsample to 10Hz
  use_task_info: false